<!DOCTYPE html>
<html>
<head>
    	<title>@ViewBag.Title</title>
		<script src="@Url.Content("~/Scripts/angular.min.js")"></script>
		<script src="@Url.Content("~/Scripts/home.js")"></script>
</head>
<body ng-app="AngularGit">
	@RenderBody()
</body>
</html>
